.cart-container .cart {
  position: sticky;
  top: 5rem;
  padding: 1.8rem;
  height: 100%;
}

.cart h1 {
  font-size: 2.4rem;
  text-align: center;
  margin: 5rem 0;
  color: #1c2b35;
}

.cart p {
  font-size: 1.7rem;
  color: #2a414f;
  margin-bottom: 2.5rem;
  line-height: 1.6;
}

.cart h2 {
  font-size: 2.2rem;
  color: #2a414f;
}