.cart {
  position: fixed;
  top: 5rem;
  padding: 1.8rem;
  height: 100%;
}

.cart h1 {
  font-size: 2.4rem;
  text-align: center;
  margin: 5rem 0;
  color: #1c2b35;
}

.cart p {
  font-size: 1.7rem;
  color: #2a414f;
  margin-bottom: 2.5rem;
  line-height: 1.6;
}

.cart h2 {
  font-size: 2.2rem;
  color: #2a414f;
}

.cart .clear-btn {
  background: #FF3030;
  width: 23rem;
  color: #ffffff;
  font-size: 1.7rem;
  border-radius: 0.4rem;
  margin-top: 5rem;
  border: 0;
}

.cart .cart__clear-icon {
  font-size: 2rem;
  margin-left: 0.7rem;
  font-weight: 600;
}