.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.shop-container .shop-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2.5rem 3.5rem;
}

.shop-container .cart-container {
  background-color: var(--primary-color);
}
