.reviewItem-container {
    display: flex;
    /* gap: 10px; */
    justify-content: center;
    width: 57rem;
    margin: 2rem auto;
    padding: 0.8rem;
    border: 1px solid #95A0A7;
    border-radius: 0.8rem;
}

.reviewItem-container figure img {
    width: 9rem;
    border-radius: 0.6rem;
}

.reviewItem-container .reviewItem {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
}

.orange-color {
    color: #FF9900;
    font-weight: 600;
}

.reviewItem-container .reviewItem .reviewItem-details p {
    margin: 0;
    color: #1C2B35;
    font-size: 1.4rem;
}

.reviewItem-container .reviewItem .reviewItem-details .item__name {
    font-family: 'Lato';
    font-size: 1.7rem;
    font-weight: 600;
}


.reviewItem .reviewItem__delete-content {
    display: flex;
    align-items: center;
}

.reviewItem .reviewItem__delete-content .reviewItem__delete-btn {
    width: 55px;
    height: 55px;
    border: 0;
    background-color: rgba(235, 87, 87, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s linear;
}

.reviewItem .reviewItem__delete-content:hover .reviewItem__delete-btn {
    background-color: rgba(235, 87, 87, 0.6);
}

.reviewItem .reviewItem__delete-content .reviewItem__delete-btn .reviewItem__btn-icon {
    color: #EB5757;
    font-size: 3rem;
}