.reviewItem-container {
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.reviewItem-container figure img {
    width: 9rem;
    border-radius: 0.8rem;
}

.reviewItem-container .reviewItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.orange-color {
    color: #FF9900;
    font-weight: 600;
}

.reviewItem-container .reviewItem .reviewItem-details p {
    margin: 0.3rem 0;
    color: #1C2B35;
    font-size: 1.4rem;
}

.reviewItem-container .reviewItem .reviewItem-details .item__name {
    font-size: 2rem;
    font-weight: 600;
}


.reviewItem .reviewItem__delete-content {
    display: flex;
    align-items: center;
}

.reviewItem .reviewItem__delete-content .reviewItem__delete-btn {
    background-color: rgba(241, 192, 192, 0.3);
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s linear;
}

.reviewItem .reviewItem__delete-content:hover .reviewItem__delete-btn {
    background-color: rgba(235, 87, 87, 0.3);
}

.reviewItem .reviewItem__delete-content .reviewItem__delete-btn .reviewItem__btn-icon {
    color: #EB5757;
    font-size: 27px;
}