.header {
  height: 8rem;
  width: 100%;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header nav .menu {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-family: 'Lato';
}

.header nav .menu a {
  color: #ffffff;
  margin-right: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.header nav .menu a:last-child {
  margin-right: 0;
}

.header nav .menu a:hover {
  color: var(--secondary-color);
}