.nav-header {
  height: 8rem;
  width: 100%;
  background-color: var(--blue);
  position: sticky;
  top: 0;
  z-index: 999;
}

nav {
  height: 100%;
}

.nav-header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.nav-header nav .menu a {
  color: white;
  margin-right: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-header nav .menu a:last-child {
  margin-right: 0;
}

.nav-header nav .menu a:hover {
  color: var(--secondary-color);
}